In [1]:
import pandas as pd

In [2]:
with open("text3.txt", "r") as f:
    lines=f.readline()

In [3]:
lines

'Monday\n'

In [4]:
f.readline?

In [5]:
myfile = open("text3.txt", "r")
contents = myfile.read()
myfile.close()
print(contents)

Monday
Tuesday
Wednesday
Thursday
Friday
ME1101
MM2090
HSE
CY1101
MA1101
PH101
8:00-8:59
9:00-9:59
10:00-10:59
11:00-11:59
12:00-12:59
13:00-13:59
14:00-14:59
15:00-15:59
16:00-16:59
17:00-17:59

In [6]:
Lines = contents.splitlines()
Lines

['Monday',
 'Tuesday',
 'Wednesday',
 'Thursday',
 'Friday',
 'ME1101',
 'MM2090',
 'HSE',
 'CY1101',
 'MA1101',
 'PH101',
 '8:00-8:59',
 '9:00-9:59',
 '10:00-10:59',
 '11:00-11:59',
 '12:00-12:59',
 '13:00-13:59',
 '14:00-14:59',
 '15:00-15:59',
 '16:00-16:59',
 '17:00-17:59']

In [7]:
a=Lines[0]
b=Lines[1]
c=Lines[2]
d=Lines[3]
e=Lines[4]
f=Lines[5]
g=Lines[6]
h=Lines[7]
i=Lines[8]
j=Lines[9]
k=Lines[10]
l=Lines[11]
m=Lines[12]
n=Lines[13]
o=Lines[14]
p=Lines[15]
r=Lines[16]
s=Lines[17]
t=Lines[18]
u=Lines[19]
v=Lines[20]

In [8]:
data = {
    "Days": [a, b, c, d, e],
    l: ["", "", "", g, f],
    m: [f, "", "", i, ""],
    n: ["", "", i, "", h],
    o: ["", g, "", h, "" ],
    p: [i, "", "", "", g],
    r: ["", "", "", f, ""],
    s: ["", "", h, "", j],
    t: ["", "", "", "", k],
    u: ["", h, "", "", ""],
    v: ["", f, "", "", i]
}

df = pd.DataFrame(data, index= ["0", "1", "2", "3", "4"])
print(df)

        Days 8:00-8:59 9:00-9:59 10:00-10:59 11:00-11:59 12:00-12:59  \
0     Monday              ME1101                              CY1101
1    Tuesday                                      MM2090
2  Wednesday                          CY1101
3   Thursday    MM2090    CY1101                     HSE
4     Friday    ME1101                   HSE                  MM2090

  13:00-13:59 14:00-14:59 15:00-15:59 16:00-16:59 17:00-17:59
0
1                                             HSE      ME1101
2                     HSE
3      ME1101
4                  MA1101       PH101                  CY1101

In [9]:
grouped = df.groupby(df.Days)
Monday  = grouped.get_group("Monday")

In [10]:
grouped = df.groupby(df.Days)
Tuesday = grouped.get_group("Tuesday")

In [11]:
grouped = df.groupby(df.Days)
Wednesday  = grouped.get_group("Wednesday")

In [12]:
grouped = df.groupby(df.Days)
Thursday  = grouped.get_group("Thursday")

In [13]:
grouped = df.groupby(df.Days)
Friday  = grouped.get_group("Friday")

In [14]:
df = pd.concat([Monday, Tuesday, Wednesday, Thursday, Friday])

In [15]:
df

,Days,8:00-8:59,9:00-9:59,10:00-10:59,11:00-11:59,12:00-12:59,13:00-13:59,14:00-14:59,15:00-15:59,16:00-16:59,17:00-17:59
0,Monday,,ME1101,,,CY1101,,,,,
1,Tuesday,,,,MM2090,,,,,HSE,ME1101
2,Wednesday,,,CY1101,,,,HSE,,,
3,Thursday,MM2090,CY1101,,HSE,,ME1101,,,,
4,Friday,ME1101,,HSE,,MM2090,,MA1101,PH101,,CY1101